
-
  const fashion = [
    {
      src: `img/content/info/film-promo.png`,
      title: `Lorem Ipsum is simply dummy text of the printing`,
      content: `Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry. Lorem Ipsum has been the`,
      alt: 'info pic'
    },
    {
      src: `img/content/info/film-promo.png`,
      title: `Lorem Ipsum is simply dummy text of the printing`,
      content: `Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry. Lorem Ipsum has been the`,
      alt: 'info pic'
    }
  ]

-
  const films = [
    {
      src: `img/content/info/film-promo.png`,
      title: `Lorem Ipsum is simply dummy text of the printing`,
      content: `Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry. Lorem Ipsum has been the`,
      alt: 'info pic'
    },
    {
      src: `img/content/info/film-promo.png`,
      title: `Lorem Ipsum is simply dummy text of the printing`,
      content: `Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry. Lorem Ipsum has been the`,
      alt: 'info pic'
    },
    {
      src: `img/content/info/film-promo.png`,
      title: `Lorem Ipsum is simply dummy text of the printing`,
      content: `Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry. Lorem Ipsum has been the`,
      alt: 'info pic'
    }
  ]

-
  const tv = [
    {
      src: `img/content/info/film-promo.png`,
      title: `Lorem Ipsum is simply dummy text of the printing`,
      content: `Lorem Ipsum is simply dummy text of the printing and 
                typesetting industry. Lorem Ipsum has been the`,
      alt: 'info pic'
    }
  ]