
//- Цвет фона пункта берется из перменной scss

-
  const nav_list = [
    {
      'name': 'Главная',
      'href': '#',
      'bgColor': '#00aedb'
    },
    {
      'name': 'Кино',
      'href': '#',
      'bgColor': '#8cc63f'
    },
    {
      'name': 'Магазин',
      'href': '#',
      'bgColor': '#5261ac'
    },
    {
      'name': 'Проекты',
      'href': '#',
      'bgColor': '#00aedb'
    },
    {
      'name': 'Новости',
      'href': '#',
      'bgColor': '#f78f1d'
    },
    {
      'name': 'Архив',
      'href': '#',
      'bgColor': '#ff0000'
    },
    {
      'name': 'Контакты',
      'href': '#',
      'bgColor': '#494949'
    }
  ]