
-
  const social = [
    {
      'src': 'img/general/social/em.png',
      'alt': 'social pic',
      'href': '#'
    },
    {
      'src': 'img/general/social/fb.png',
      'alt': 'social pic',
      'href': '#'
    },
    {
      'src': 'img/general/social/tw.png',
      'alt': 'social pic',
      'href': '#'
    }
  ]