.gallery#gallery
  .gallery-wrapper
    .gallery-slides
      
      //- begin slide 1
      .gallery-slide.active
        img(src="img/content/gallery/Layer-49.png", alt="films promo")
      //- end slide 1

      //- begin slide 2
      .gallery-slide
        img(src="img/content/gallery/thumbnails/Layer-51.png", alt="films promo")
      //- end slide 2

      //- begin slide 3
      .gallery-slide
        img(src="img/content/gallery/thumbnails/Layer-52.png", alt="films promo")
      //- end slide 3

      //- begin slide 4
      .gallery-slide
        img(src="img/content/gallery/thumbnails/Layer-53.png", alt="films promo")
      //- end slide 4

  //- begin thumbnail
  .gallery-thumbnails
    button(type="button", data-gallery, data-slide="0").gallery-thumbnail
      img(src="img/content/gallery/thumbnails/Layer-50.png", alt="thumbnail pic")

    button(type="button", data-gallery, data-slide="1").gallery-thumbnail
      img(src="img/content/gallery/thumbnails/Layer-51.png", alt="thumbnail pic")

    button(type="button", data-gallery, data-slide="2").gallery-thumbnail
      img(src="img/content/gallery/thumbnails/Layer-52.png", alt="thumbnail pic")

    button(type="button", data-gallery, data-slide="3").gallery-thumbnail
      img(src="img/content/gallery/thumbnails/Layer-53.png", alt="thumbnail pic")
  //- end thumbnail